<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patterns</key>
	<array>
		<dict>
			<key>duration</key>
			<string>60</string>
			<key>pattern</key>
			<string>(^.*)(.*)(\.jpg)</string>
		</dict>
		<dict>
			<key>duration</key>
			<string>30</string>
			<key>pattern</key>
			<string>(^.*)\.js</string>
		</dict>
	</array>
</dict>
</plist>
